%nav#header.fixed.bg-white.border-gray-500.dark:bg-gray-900.dark:border-gray-700.top-0.start-0.z-50.w-full
  .flex.flex-wrap.items-center.justify-between.mx-auto.p-4
    .flex.items-center.justify-start.rtl:justify-end
      - if user_signed_in?
        %button.p-2.text-sm.text-gray-500.rounded-lg.sm:hidden.hover:bg-gray-100.focus:outline-none.focus:ring-2.focus:ring-gray-200.dark:text-gray-400.dark:hover:bg-gray-700.dark:focus:ring-gray-600{"aria-controls" => "logo-sidebar", :type => "button", "data-drawer-target" => "logo-sidebar", "data-drawer-toggle" => "logo-sidebar"}
          %span.sr-only Open sidebar
          %svg.w-6.h-6{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", "fill-rule" => "evenodd", :d => "M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"}
      %a.flex.ms-2.md:me-24{:href => root_path}
        %img.h-8.me-3{:src => "https://img.icons8.com/external-tulpahn-outline-color-tulpahn/64/external-elf-christmas-tulpahn-outline-color-tulpahn.png", :alt => "FlowBite Logo"}
        %span.self-center.text-xl.font-semibold.sm:text-2xl.whitespace-nowrap.dark:text-white LesPetitesElfes
    
    .flex.items-center
      - unless user_signed_in?
        %button.flex.text-sm.bg-gray-800.rounded-full.focus:ring-4.focus:ring-gray-300.dark:focus:ring-gray-600{"aria-expanded" => "false", "data-dropdown-toggle" => "dropdown-user", :type => "button"}
          %span.sr-only Ouvrir menu
          = image_tag "https://cdn.vectorstock.com/i/preview-1x/29/09/avatar-m-vector-37332909.jpg", class: "w-10 h-10 rounded-full", alt: "user photo"
        .z-50.hidden.my-4.text-base.list-none.bg-white.divide-y.divide-gray-100.rounded.shadow.dark:bg-gray-900.dark:divide-gray-600#dropdown-user
          %ul.py-1{"role" => "none"}
            %li
              = render 'shared/toogle_dark_mode'
            %li
              = button_to "Se connecter", new_user_session_path, method: :get, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
            %li
              = button_to "S'inscrire", new_user_registration_path, method: :get, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"

      - else
    
        %button.flex.text-sm.bg-gray-800.rounded-full.focus:ring-4.focus:ring-gray-300.dark:focus:ring-gray-600{"aria-expanded" => "false", "data-dropdown-toggle" => "dropdown-user", :type => "button"}
          %span.sr-only Ouvrir menu
          = image_tag current_user.avatar_url, class: "w-10 h-10 rounded-full", alt: "user photo"
        .z-50.hidden.my-4.text-base.list-none.bg-white.divide-y.divide-gray-100.rounded.shadow.dark:bg-gray-900.dark:divide-gray-600#dropdown-user
          .px-4.py-3{"role" => "none"}
            %p.text-sm.text-gray-900.dark:text-white{"role" => "none"}
              = current_user.name
            %p.text-sm.font-medium.text-gray-900.truncate.dark:text-gray-300{"role" => "none"}
              = current_user.email
          %ul.py-1{"role" => "none"}
            %li
              = render 'shared/toogle_dark_mode'
            %li
              = button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
