.container.mt-5
  .row.justify-content-center
    .col-md-6
      .card
        .card-header.bg-success.text-white
          %h2 Connexion
        .card-body
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f|
            .form-group
              = f.label :email, "Adresse Email", class: "font-weight-bold"
              = f.email_field :email, class: "form-control"

            .form-group
              = f.label :password, "Mot de Passe", class: "font-weight-bold"
              = f.password_field :password, class: "form-control"

            .form-group
              = f.submit "Connexion", class: "btn btn-primary"