%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    = link_to 'Accueil', current_user ? gift_path(current_user.id) : root_path, class: 'navbar-brand'
    %button.navbar-toggler{type:'button', "data-toggle":'collapse', "data-target":'#navbarNav', "aria-controls":'navbarNav', "aria-expanded":'false', "aria-label":'Toggle navigation'}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to 'Listes', gifts_path, class: 'nav-link'
      - if user_signed_in?
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'nav-link', data: { turbolinks: false }
      - else
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to "S'inscrire", new_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to "Connexion", new_user_session_path, class: 'nav-link'