!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GestionListeNoel
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.dark:bg-gray-900
    = render "shared/header"
    = render 'shared/sidebar' if user_signed_in?
    - if user_signed_in?
      .menu-container
        = yield
    - else
      = yield
    = render "shared/alerts"

    
      
